html {
    min-height: 100%;
    scroll-behavior: smooth;
}

:root {
    --pickedColor: #eec6c6;
    --accentColor: #695e64;
    --tertiaryColor1: #a6c5ca;
}

body {
    background-image: linear-gradient(#2e2e2e, #4b4b4b);
    min-height: 100vh;;
    margin:0px;
}

@font-face {
    font-family: "Agdasima-Regular";
    src: url(../fonts/Agdasima-Regular.tff);
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-VariableFont_wght.tff);
}

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Quicksand:wght@300..700&display=swap');

.ticker
{
background-color: #0c0c0c;
border-top: 2px solid transparent;
border-bottom: 2px solid transparent;
border-color: rgb(238, 198, 198);
box-shadow: 3px 3px 5px 3px rgb(0 0 0 / 0.4);
position: relative;
overflow: hidden;
top:0;
padding-top: 1%;
padding-bottom: 1%;
margin-left: -1%;
margin-right: -1%;
}
@-webkit-keyframes ticker-content {
0% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    visibility: visible;
}
100% {
    -webkit-transform: translate3d(-100%, 0,0);
    transform: translate3d(-100%, 0, 0);
}
    
}
@keyframes ticker-content {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0,0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker .ticker-content
{
    display: inline-block;
    font-family: "Agdasima-Regular", sans-serif;
    color: var(--pickedColor);
    font-size: 2rem;
    white-space: nowrap;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker-content;
    animation-name: ticker-content;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;

}

@keyframes top-menu-animation
{
    0% {
    transform: translateX(0);
    
    
    }
    99% {
    transform: translateX(-120%);
        opacity: 1;

    
    }
    100% {
        transform: translateX(-120%);
        opacity: 0;
    }
}

.top-menu
{
    animation: top-menu-animation linear forwards;
    animation-timeline: scroll(root block);
    animation-range: 0% 30%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 10%;
    width: 90%;
    background: transparent;
    background-image: linear-gradient(#141414, #222222);
    border-radius: 24px / 24px;
    border-bottom: solid;
    border-color: var(--tertiaryColor1);
    position: fixed;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 40;
}

.top-menu .top-menu-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
}

.top-menu .theme-box {
    margin-left: 10px;
    color:var(--pickedColor);
    font-family: "Agdasima-Regular", sans-serif;
    font-size: 0.8rem;
}

.top-menu .menu-color-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
}

.top-menu .menu-color-buttons .color-1 {
    background-color: #eec6c6;
    padding: 5px;
    border: #695e64 solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
}

.top-menu .menu-color-buttons .color-2 {
    background-color: #34ebc0;
    padding: 5px;
    border:#0b382d solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
}

.top-menu .menu-color-buttons .color-3 {
    background-color: #3e89de;
    padding: 5px;
    border:#0b0b38 solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
}

.top-menu .menu-color-buttons .color-4 {
    background-color: #e25d64;
    padding: 5px;
    border:#793a54 solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
}

.top-menu .top-menu-content .top-menu-item
{
    color:var(--pickedColor);
    font-family: "Agdasima-Regular", sans-serif;
    font-size: 1.5rem;
    margin-right: 10%;
}

.top-menu .top-menu-content .top-menu-item a:link
{
    color:var(--pickedColor);
    text-decoration: none;
}

.top-menu .top-menu-content .top-menu-item a:hover
{
    color:#28cacf;
    text-decoration: none;
}


.top-menu .top-menu-content .top-menu-item a:visited
{
    color:var(--pickedColor);
    text-decoration: none;
}

.main-body .body-header
{
    display: flex;
    flex-direction: row;
    font-family: "Agdasima-Regular", sans-serif;
    font-size: 8rem;
    font-weight: bold;
    text-align: left;
    color: var(--pickedColor);
    -webkit-text-stroke: var(--accentColor);
    -webkit-text-stroke-width: 1px;
    padding-top: 6%;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 2%;
    text-rendering: geometricPrecision;
    transform: skewY(-2deg);
}

.main-body .container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(#424242, #5f5f5f);
    border-radius: 10px / 10px;
    border-width: 1ch;
    border-color:#302929;
    align-content: center;
    box-shadow: inset 0 0 5px #363636;
    margin-bottom: 10%;

}

.box-row {
    display: flex;
    flex-direction: row;
}

.box-row-image-container {
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.box-row-image-container .cpp-image {
    width: 90px;
    -webkit-filter: drop-shadow(1px -3px 6px #2020209a);
    filter: drop-shadow(1px -3px 6px #2020209a);
}

.box-row-image-container .html-logo {
    width: 90px;
    -webkit-filter: drop-shadow(1px -3px 6px #2020209a);
    filter: drop-shadow(1px -3px 6px #2020209a);
}

.box-row-image-container .css-logo {
    width: 90.5px;
    -webkit-filter: drop-shadow(1px -3px 6px #2020209a);
    filter: drop-shadow(1px -1px 4px #2020209a);
}

.box-row-image-container .js-logo {
    width: 79px;
    -webkit-filter: drop-shadow(1px -3px 6px #2020209a);
    filter: drop-shadow(1px -3px 6px #2020209a);
    margin-right: 20px;
    margin-left: 20px;
}

.box-row-image-container .ssms-logo {
    width: 80px;
    height: 82px;
}

.box-row-image-container .x86-logo {
    width: 80px;
    height: 82px;
}

.main-body .container .boxes
{
    position:relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    padding: 2%;
    margin: 2%;
    background-image: linear-gradient(#141414, #222222);
    border-radius: 24px / 24px;

}
.main-body .container .media
{
    position:relative;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin:1%;
}

.main-body .container .media video
{
    background-color: #141414;
    border:solid;
    border-color: var(--pickedColor);
    border-width: 2px;
    border-radius: 24px / 24px;
}

.main-body .container .container-header
{
    align-self: center;
    text-align: center;
    margin:auto;
    margin-top: 2%;
}

.main-body .container .container-header .container-header-content
{
    text-align: center;
    font-family: "Agdasima-Regular", sans-serif;
    font-size: 3rem;
    color: var(--pickedColor);
}

.main-body .container .about-me-container
{
    position:relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

.main-body .container .about-me-content
{
    font-family: "Agdasima-Regular", sans-serif;
    font-size: 1.2rem;
    font-size-adjust: inherit;
    color: var(--pickedColor);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.main-body .container .boxes .boxes-text
{
    font-family: "Agdasima-Regular", sans-serif;
    font-size: 1rem;
    font-size-adjust: inherit;
    color: var(--pickedColor);
}

.main-body .introduction
{
    text-align: center;
    margin-bottom: 10%;
    margin-top: 11%;
}

.main-body .introduction .sub-introduction
{
    font-family: "Agdasima-Regular", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-size-adjust: inherit;
    color: var(--pickedColor);
}

.main-body video
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-body .super-container
{
    display:flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 29%;
}

.main-body .section-container
{
    display: flex;
    flex-direction: column;
}

.main-body .section-container .projects-header
{
    position:relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap-reverse;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

.main-body .section-container .projects-header .projects-header-content
{
    font-family: "Agdasima-Regular", sans-serif;
    font-size: 1.2rem;
    font-size-adjust: inherit;
    color: var(--pickedColor);
    margin-left: 10%;
    margin-right: 10%;
}

@keyframes menu-animation {
    0% {transform: translateX(-140%);}
    100% { transform: translateX(0);
    position: sticky;
    }
}

.main-body .super-container .menu-container
{
    animation: menu-animation linear forwards;
    animation-timeline: scroll(root block);
    animation-range: 500px 700px;
    animation-delay: 250ms;
    transform: translateX(-140%);
    background: transparent;
    background-image: linear-gradient(#141414, #222222);
    border-radius: 24px / 24px;
    border-bottom: var(--tertiaryColor1) solid;
    display: flex;
    flex-direction: column;
    border-width: 3px;
    position:sticky;
    top: 40;
    margin-left: auto;
    margin-right: 2%;
    max-height: fit-content;
    min-width: 20%;
}


.main-body .super-container .menu-container .menu-list-1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Agdasima-Regular", sans-serif;
    color: var(--tertiaryColor1);
    font-size: 1.5rem;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 5%;
}

.main-body .super-container .menu-container .menu-list-1 li
{
    margin-top: 6%;
}

.main-body .super-container .menu-container .menu-list-1 li a:link{
    color:var(--pickedColor);
    text-decoration: none;
}

.main-body .super-container .menu-container .menu-list-1 li a:visited{
    color:var(--pickedColor);
    text-decoration: none;
}

.main-body .super-container .menu-container .menu-list-1 li a:hover{
    color:#28cacf;
    text-decoration: none;
}

.main-body .super-container .menu-container .menu-color-buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 6%;
}

.main-body .super-container .menu-container .menu-color-buttons .color-1 {
    background-color: #eec6c6;
    padding: 5px;
    border: #695e64 solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;

}

.main-body .super-container .menu-container .menu-color-buttons .color-2 {
    background-color: #34ebc0;
    padding: 5px;
    border:#0b382d solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
}

.main-body .super-container .menu-container .menu-color-buttons .color-3 {
    background-color: #3e89de;
    padding: 5px;
    border:#0b0b38 solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #141414;
    background-color: #222222;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--accentColor);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiaryColor1);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--pickedColor);
}

.footer {
    background-color: #222222;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: fit-content;
    padding: 2%;
    bottom: 0;
    box-shadow: 0 40px 40px 20px #FFF;
    border-top: solid transparent 3px;
    border-image: linear-gradient(#cecece, #fff) 1;
    overflow:hidden;
}

.footer .footer-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1%;
}

.footer .footer-head .footer-head-content {
    color: #5e5e5e;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    gap:20px;
}

.footer-image {
    align-self: center;
    width: 40px;
    --fillColor: var(--pickedColor);
    transition: transform 0.3s ease;
}

.footer-image:hover {
    --fillColor: white;
    transform: scale(1.2);
}